body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* footer {
    justify-self: flex-end;
    margin: auto;
} */

.calculator {
    margin-bottom: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 37rem;
    width: 24rem;
    background-color: #526377;
    border: 10px solid #444444;
    border-radius: 10px;
}

.calculator-screen{
    background-color: #bcd1c0;
    margin: 1.4rem;
    padding: .6rem;
    width: 20.8rem;
    height: 5rem;
    border-radius: 6px;
    display: flex;
    flex-grow: 0;
    /* flex: 1; */
    flex-direction: column;
    justify-content: flex-end;
    align-items: end;
    font-size: 35px;
    font-family: 'calculatorregular', sans-serif;
}

.history{
    justify-self: flex-start;
    font-size: 20px;
    margin: .3rem 0;
    flex-basis: 10px;
}

.result {
    margin: .2rem 0;
    min-height: 2.5rem;
}

.col {
    display: flex;
    flex-direction: column;
    flex: 1;
}


.calculator-buttons{
    display: flex;
    flex: 1;
}

.bottom {
    margin-bottom: 1.2rem;
}

button {
    width: 5rem;
    height: 5rem;
    margin: .2rem .3rem;
    border: 0;
    border-radius: 4px;
    color: white;
    background-color: #949cb3;
    transition: transform .1s;
    cursor: pointer;
    font-size: 23px;
    font-family: 'DM Sans', sans-serif;
}

button:active {
    transform: scale(0.96);
}

button.operation, button.plus-minus {
    background-color: #4e5963;
}

button.operation.bottom {
    background-color: #79c52a;
    flex: 1;
}

button.delete, button.delete-all {
    background-color: #f2493e;
}

/*icon <a href="https://www.flaticon.com/free-icons/calculator" title="calculator icons">Calculator icons created by Freepik - Flaticon</a> */
/*screen font https://www.dafont.com/calculator.font*/
@font-face {
    font-family: 'calculatorregular';
    src: url('calculator-webfont.woff2') format('woff2'),
         url('calculator-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}